<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    class="line"
    class="line"
    [formGroup]="loginForm"
    novalidate
    (ngSubmit)="loginUser()"
  >
    <div id="errorMsg" *ngIf="errorMessage">
      <span>{{ errorMessage }}</span>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
      <span
        class="error"
        *ngIf="
        !loginForm.controls['email'].valid &&
        loginForm.controls['email'].touched
      "
      >
        Email is required
      </span>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        required
      ></ion-input>
      <span
        class="error"
        *ngIf="
        !loginForm.controls['password'].valid &&
        loginForm.controls['password'].touched
      "
      >
        password is required
      </span>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Sign In</ion-button>
        Don't have account?
        <a [routerLink]="['/menu/register']" class="small-text"> Sign Up</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
