.text{
  margin-left:20px;
  font-size: 20px;

}

.download{
position: relative;
margin-bottom: 10px;}
.title{
  font-size: 12px;
  position:absolute;
}

.icon{
  float: right;
  margin-top: -10px;
}

