<ion-header>
  <ion-toolbar>
    <ion-title>Recherche</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="search"
    (ionChange)="searchByTag($event.target.value)"
  ></ion-searchbar>

  <ion-card *ngFor="let training of trainingToShow">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/formation.jpg" />
      </ion-avatar>
      <ion-label>
        <h3>{{training?.title}}</h3>
        <p *ngFor="let tag of training?.tags">{{tag}}</p>
      </ion-label>
    </ion-item>

    <ion-card-header>
      <ion-card-title
        ><a [routerLink]="['/menu/formation-details', training._id]"
          >Details</a
        ></ion-card-title
      >
    </ion-card-header>
  </ion-card>
</ion-content>
